.login{
   display: flex;
    justify-content: center; 
    align-items: center;
   border: 5px;
   border-radius: 5px solid red;
    font-size: large;
    
    
 
   
   } 

.btn{
   
 display: flex;
 justify-content: center;
 
} 

